

/*police importer*/


@font-face{
    font-family: 'LEMONMILK';
    src:url('font/LEMONMILK-Light.otf');

}


/*mise en forme texte */

h1 {
    
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 40px;
    font-family: LEMONMILK;
    margin-top: 90px;
    margin-bottom: 5px;
    
}


h2 {
    margin-bottom: 10%;
    margin-top: 2px;
    font-family: 'Lucida Sans';
    margin-left: 40px;
}

h3 {
    margin-bottom: 2%;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    font-family: LEMONMILK;
}

h4 {
    font-size: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
    
    font-weight: normal;
    font-family: LEMONMILK;
}

h5 {
    text-align: left;
    
    font-size: 20px;
   margin-top: 2px;
   margin-bottom: 2px;
   
    margin-right: 5px;
    
    font-family: sans-serif;
    font-weight: normal;
}


p {
    text-align: justify;
    font-family: sans-serif;
    margin-top: -1px;
  
}

<<<<<<< HEAD
img {
    max-width: 100%;
    
}
=======
/*mise en forme des différentent parties de la page*/

#page {
    display: flex;
    margin-left: 22%;
    margin-right: 22%;
    max-width: 1191px;
}

>>>>>>> 7d1b7415dcc6abd24406d581e6ce55275eb0af75

#colone {
    width: 45%;
    background-color: rgb(0,191,255);
    flex-direction: column;
    display: flex;
}

#page-central {
    background-color: rgb(238,238,238);
    width: 90%;
    flex-direction: column;
}


/*mise en forme des éléments des pages*/


#prenom {
    color: rgb(0,191,255);
}

#tiret {
    
    padding-bottom: 10px;
    
    border-bottom-color: rgb(0,191,255);
    border-bottom-style: solid;
}

 
#photo {
    
    overflow: hidden;
    max-height:150px;
    max-width: 150px;
    border-radius: 50%;
    margin-right: 60px;
    margin-top:60px;
    margin-left: 90px;
    margin-bottom: 60px;
}



.icone {
    color: rgb(0,191,255);
    font-family: "Font Awesome 5 Pro";
    font-size: 25px;
    margin-top: 22px;
    text-transform: uppercase;
    margin-right: 5%;
}

ul {

 margin-bottom: 2px;
 list-style: none;

}



.entourage {
    background-color: rgb(109,76,65);
    color: rgb(0,191,255);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}



#contact {
    text-align: center;
    margin-top: 30px;
}
#propos {
    margin-bottom:auto;
    text-align: center;
    margin-top: 30px;
}


#logos {
    display: flex;
    text-align: center;
    align-content: center;
    margin-top:20px;
    margin-bottom: 20px;
}
.listecontact {
    list-style-type: none;
}

li{
    margin-top: 2px;
    margin-bottom: 20px;
    text-align: left;
    font-family: sans-serif;
}

#experience {
   display: flex;
   flex-direction:column;
  text-align: justify;
 
 
}

#contener {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-bottom: 20px;
    
}



#formation {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.puce {
    color: rgb(0,191,255);
    margin-right: 10px;
    
}
.puce::before {
    
    color: rgb(41,182,246);
}

.pucedate {
    display: flex;
    margin-right: 10px;    
    justify-content: center;
    margin-top: 15px;
}

.article {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-right: 5%;
    
    
}

.date {
    width: 50%;
    margin-right: 20px;
}



.titre {
    display: flex;
    border-bottom: solid;
    border-bottom-color: rgb(0,191,255);
    border-bottom-width: medium;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

.loisir {
    color: rgb(109,76,65);
   display: flex;
    font-size: 45px;
    border: solid;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    align-content: center;
    margin: auto;
}

.fas.fa-book{
    margin:auto;
}

.fas.fa-dog{
    margin: auto;
}


.nadia {
    margin-top: 25px;
    margin-left: 30px;
}

.jawad {
    margin-top: 25px;
    margin-right: 20px;
}

/*photo masqué sur pc mais visible sur format responsive mobile et tablette*/
#photomasque {
    display: none;
}

#paragraphe {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;

}


/*responsive pour écran de moins de 700 px*/



@media all and (max-width: 700px) {


    #page {
        flex-direction: column-reverse;
        width: auto;
        margin-left: 1px;
        margin-right: 1px;
    }

    #colone {
        width: auto;
        background-color: rgb(238,238,238);
    }

    #page-central {
        width: auto;
        display: block;
        background-color: rgb(238,238,238);
    }
    h1 {
        
    }

    h2 {
        font-size: 20px;
        
        }

    p {
        margin-right: 10px;
    }

    #propos {
        margin-bottom: 15px;
        width: auto;
        display: block;
    }

    .listecontact {
        text-align: center;
        margin: auto;
        width: auto;
    }

    .article {
        width: auto;
    }

    #contact {
        width: auto;
        margin-top :2px;
    }

   .pucedate {
   width: auto;
       flex-direction: column;
       }

   h4 {
   margin-top: 1px;
   
   }

    #recommandations {
        flex-direction: column;
    }

    #photo {
        display: none;
    }

    #photomasque {
        display: flex;
        overflow: hidden;
        margin-left: 50px;
        max-width: 155px;
        border-radius: 50%;
        height: 160px;
    }




    #logos {
        align-items: center;
    }

    #prenom {
        margin-left: 5px;
    }


    #contener {
        flex-direction: column;
        margin-left: 40px;
    }

    .loisir {
        display: flex;
        font-size: 70px;
        height: 90px;
        width: 90px;
        display: flex;
        margin: auto;
        align-items: center;
    }

    .fas.fa-dog {
        margin: auto;
    }

    .fas.fa-book {
        margin: auto;
    }

   .nadia {
   margin-left: 2px;
   }

   .puce {
       display: none;
   }

   .entourage {
    color: rgb(238,238,238);
   }
   #tiret {
    padding-bottom: 1px;
    
    
    border-bottom-color:rgb(0,191,255);
    border-bottom-style: solid;
}
    
}
    


/* responsive pour écrans entre 700px et 1530 px*/



@media all and (min-width: 700px ) and (max-width: 1530px) {
     #page {
        flex-direction: column-reverse;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #colone {
        width: auto;
        background-color: rgb(238,238,238);
    }

    #page-central {
        width: auto;
        display: block;
        background-color: rgb(238,238,238);
    }

    h2 {
        margin-left: 0px;
    }

   #tiret {
       margin-left: 40px;
   }

    #propos {
        margin-bottom: 15px;
        width: auto;
        display: block;
    }

    .listecontact {
        text-align: center;
        margin: auto;
        width: auto;
    }

    

    #contact {
        width: auto;
        margin-top: 1px;
    }

    .pucedate {
        width: auto;
    }

    #recommandations {
        flex-direction: column;
    }

    #photo {
        display: none;
    }

    #photomasque {
        display: flex;
        overflow: hidden;
        margin-left: 50px;
        max-width: 155px;
        border-radius: 50%;
        height: 160px;
    }




    #logos {
        align-items: center;
    }




    #contener {
        flex-direction: column;
        margin-left: 40px;
    }

    .loisir {
        display: flex;
        font-size: 70px;
        height: 90px;
        width: 90px;
        display: flex;
        margin: auto;
        align-items: center;
    }

    .fas.fa-dog {
        margin: auto;
    }

    .fas.fa-book {
        margin: auto;
    }

    .article {
        margin-left: 10px;
    }

    .nadia {
        margin-left: 0px;
    }

    .entourage {
        color: rgb(238,238,238);
    }
    
}